#orderFromForm {
    position: absolute;
    top: 100px;
    left: 50px;
    width: 300px;
    border-radius: 5px;
    padding-left: 10px;
}

#divTable{
    position: absolute;
    top: 100px;
    left: 500px;
    width: 300px;
    border-radius: 5px;
}

#click-create-order{
    margin-left: 10px;
}

#orderFromForm{
    border-radius: 5px;
}

.carousel{
    margin: 0px;
}
#myNavbar{
    margin: 0px;
}